@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}
@model BusinessObject.TblUser;
@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
    <fieldset>
        <legend>LOGIN</legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <table>
            <tr>
                <td>@Html.LabelFor(a => a.UserEmail)</td>
                <td>@Html.TextBoxFor(a => a.UserEmail)</td>
                <td>@Html.ValidationMessageFor(a => a.UserEmail)</td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.UserPassword)
                </td>
                <td>
                    @Html.PasswordFor(a => a.UserPassword)
                </td>
                <td>
                    @Html.ValidationMessageFor(a => a.UserPassword)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                    <a asp-action="Register">Register</a>
                </td>
                <td></td>
            </tr>
        </table>
    </fieldset>
}

