@model IEnumerable<BusinessObject.TblProduct>

@{
    ViewData["Title"] = "SearchProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SearchProduct</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductImage)
            </td>
            <td>
                <a asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-controller="Product" asp-action="addCart" asp-route-id="@item.ProductId" class="addProduct">Add order</a>
            </td>
        </tr>
}
    </tbody>
</table>
